@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

.wrap-options{
  
  padding: 16px;
  background-color: #171717dd;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.select-button{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-self: normal;
}

select{
  background: rgb(79, 79, 79, 0.5);
  color: #fff;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  padding: 16px;

  align-self: normal;
}
select option{
  background: yellow;
}

.btn-verfilmes{
  background: #F0FF6D;
  font-size: 18px;
  font-weight: 700;
  border-radius: 24px;
  padding: 0 24px;
  border: none;
  cursor: pointer;
}

.sort-controls{
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: sticky;
  top: 130px;
  width: fit-content;
  margin: 10px auto ;
  z-index: 9999;
}
.sort-controls select{
  backdrop-filter: blur(20px);
  background: rgba(43, 43, 43, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}


@media (max-width: 600px) {
  .wrap-options{
  
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
  }
}



